<a href="https://colab.research.google.com/github/gihcout/python/blob/main/Analytics_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
dados = pd.read_excel('/content/Pasta1.xlsx')

In [ ]:
dados

       nome  idade
0      joão      1
1   adriana     23
2     lucas    467
3     vitor      3
4   ricardo     12
5     jonas     46
6     julio     83
7     maria      4
8    marcia     23
9     luiza     12
10  larissa     13

In [ ]:
nomes = dados['nome']

In [ ]:
nomes

0        joão
1     adriana
2       lucas
3       vitor
4     ricardo
5       jonas
6       julio
7       maria
8      marcia
9       luiza
10    larissa
Name: nome, dtype: object

In [ ]:
type(nomes)

pandas.core.series.Series

In [ ]:
lista = list(nomes)

lista

['joão',
 'adriana',
 'lucas',
 'vitor',
 'ricardo',
 'jonas',
 'julio',
 'maria',
 'marcia',
 'luiza',
 'larissa']

In [ ]:
dados[dados['nome'] == 'joão']

   nome  idade
0  joão      1

In [ ]:
dados[dados['idade'] < 30]

       nome  idade
0      joão      1
1   adriana     23
3     vitor      3
4   ricardo     12
7     maria      4
8    marcia     23
9     luiza     12
10  larissa     13